{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {},
  "rules": {
    //警告
    "no-script-url": 1,
    "no-unused-vars": 1,
    //错误
    "no-debugger": 2,
    "no-console": 2,
    "no-alert": 2,
    "no-restricted-globals": 2,
    "no-void": 2,
    "no-caller": 2,
    "no-eval": 2,
    "no-delete-var": 2,
    "no-constant-condition": 2
  }
}
